USE [master]
GO
/****** Object:  Database [TaskManager]    Script Date: 26/07/2024 10:35:36 ******/
CREATE DATABASE [TaskManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManager', FILENAME = N'/var/opt/mssql/data/TaskManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManager_log', FILENAME = N'/var/opt/mssql/data/TaskManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManager]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 26/07/2024 10:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](max) NOT NULL,
	[DataVencimento] [date] NOT NULL,
	[UsuarioResponsavelId] [int] NOT NULL,
	[UsuarioCriadorId] [int] NOT NULL,
	[Status] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/07/2024 10:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Funcao] [smallint] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Senha] [binary](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) 
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioCriador_Tarefa] FOREIGN KEY([UsuarioCriadorId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_UsuarioCriador_Tarefa]
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioResponsavel_Tarefa] FOREIGN KEY([UsuarioResponsavelId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_UsuarioResponsavel_Tarefa]
GO
USE [master]
GO
USE [TaskManager]
GO
INSERT INTO [dbo].[Usuario]
           ([Nome]
           ,[Funcao]
		   ,[Username]
           ,[Senha])
     VALUES
           ('Dono', 1, 'master', HASHBYTES('SHA2_256', 'e10VFOqJKiB1XTh'))           
GO

